#header{
    text-align: center;
    margin: 20px 0;
}

#img_div{
    margin: auto;
    width: 60%;
    margin-top: 5%;
}

#img_div img{
    width: 600px;
    margin: 0 40px;
}

#img_div p{
    font-style: italic;
}